# Credits to The-Graze/Grate for the auto-build setup

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      actions: read

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore -c Debug

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: build-output
        path: |
          **/bin/Debug/netstandard2.1/ii's Stupid Menu.dll
