name: Issue Helper

on:
  issues:
    types: [opened]

permissions:
  issues: write

jobs:
  close-virus-issues:
    runs-on: ubuntu-latest
    steps:
      - name: Check issue content
        uses: actions/github-script@v7
        with:
          script: |
            const issue = context.payload.issue;
            const title = issue.title.toLowerCase();
            const body = (issue.body || "").toLowerCase();

            await github.rest.issues.createComment({
                ...context.repo,
                issue_number: issue.number,
                body: "Hello! Please note that by making false issues, your GitHub account will be blocked from making anymore. If you make any issues that are duplicates of existing ones, you will be directed to such issues. Please ensure that you are on the **latest version** of both the menu and Gorilla Tag, and that you have tried fixing these issues beforehand."
              });

            const containsMalware = title.includes("virus") || title.includes("trojan");

            if (containsMalware) {
              await github.rest.issues.update({
                ...context.repo,
                issue_number: issue.number,
                state: "closed",
                state_reason: "duplicate"
              });

              await github.rest.issues.createComment({
                ...context.repo,
                issue_number: issue.number,
                body: "Duplicate of #246"
              });
            }
